{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="dd">fefwefwefe</div>
<footer class="page-footer"><div class="footer content">
   <section class="top-footer">
            <div class="owncontainer">
            <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 bt">
            <div class="footer-des">
            <ul>
            <li><img src="{{ 'fotter.png' | asset_url }}" alt=""></li>


            <li>
            <p class="li-orange">Address:</p>
            <span class="li-pad">Office no 1201, Al Hafeez Heights, Ghalib road, Block D1, Gulberg III, Lahore</span></li>
            <li>
            <p class="li-orange">Phone:</p>
            <span class="li-pad"><a href="tel:+923098881496">0309-8881496</a></span></li>
            <li>
            <p class="li-orange">Email:</p>
            <span class="li-pad"><a href="mailto:hello@cyclewalay.com">hello@cyclewalay.com</a></span></li>
                  
                 <li class="social-icons-links"> 
                     <a href="https://www.facebook.com/cyclewalayofficial/" target="blank" aria-label="facebook-icon">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
               <li class="social-icons-links">       <a href="https://www.instagram.com/cyclewalayofficial/" target="blank" aria-label="instagram-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>            
               <li class="social-icons-links">     <a href="https://api.whatsapp.com/send/?phone=03098881496&amp;text=Welcome+to+CYCLE+WALAY.+How+we+can+help+you&amp;type=phone_number&amp;app_absent=0/" target="blank" aria-label="whats-app-icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>

                </ul>
            </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row row2">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
            <div class="cycle-footer-li">
            <ul>
            <li class="footer-heading head1">How to buy</li>
            </ul>
            <ul class="f-open">
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/sales/guest/form/">Returns</a></li>
            <li><a href="#">Product Packages</a></li> 
            <!-- <li><a href="/pub/sitemap.xml">Site Map</a></li> -->
            </ul>
            </div>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4">
            <div class="cycle-footer-li">
            <ul>
            <li class="footer-heading head2">my account</li>
            </ul>
            <ul class="f-open1">
            <li><a href="/customer/account/">My account</a></li>
            <li><a href="/sales/order/history/">Order history</a></li>
            <li><a href="/wishlist/">Wish list</a></li>
            </ul>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="cycle-footer-li">
            <ul>
            <li class="footer-heading head3">information</li>
            </ul>
            <ul class="f-open2">
            <li><a href="/about-us/">About us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/terms-and-condition/">Terms &amp; Conditions</a></li>

            <li><a href="/privacy-policy-cookie-restriction-mode/">Privacy Policy</a></li>
            <li><a href="/blog/">Blog</a></li>

            </ul>
            </div>
            </div>
            </div>
            <p class="copy-line">Copyright © 2024<span class="copy-colour"> Cycle Walay</span>. All Rights Reserved</p>
            </div>
            </div>
            </div>
            </section>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    // For head1
    document.querySelector(".head1").addEventListener("click", function() {
        if (screen.width < 768) {
            this.classList.toggle("minus");
            document.querySelector(".f-open").classList.toggle("show");
        }
    });

    // For head2
    document.querySelector(".head2").addEventListener("click", function() {
        if (screen.width < 768) {
            this.classList.toggle("minus");
            document.querySelector(".f-open1").classList.toggle("show");
        }
    });

    // For head3
    document.querySelector(".head3").addEventListener("click", function() {
        if (screen.width < 768) {
            this.classList.toggle("minus");
            document.querySelector(".f-open2").classList.toggle("show");
        }
    });
});

</script>


</div></footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
