   <div class="banner-image-home 123">
      <img src="{{ 'cyclewalay_banner.png' | asset_url }}" alt="">
    <div class="parent-main-image">
       <section class="right-product">
        <form id="search_mini_form" action="{{ routes.search_url }}" method="get" role="search" class="form minisearch  form search advanced">
         <div class="inner-right-product owncontainer">
            <div class="find-your">
                        <h1> CycleWalay</h1>
                    </div>        
            <div class="right-your">
                        <h1>Your Ultimate Destination for High-Quality Bicycles and Repair Services at your Doorstep! </h1>
                    </div>
        </div>
         <fieldset class="fieldset row ">
          <div class="control">
            <input
              class="input-text"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <div class="actions">
            <button class="action search">
              <span>
              Search
              </span>
            </button>
             </div>
          </div>
         </fieldset>
          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        </section>
        </div>
         </div>
 {% schema %}
{
  "name": "searchbar",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "searchbar"
    }
  ]
}
{% endschema %}
